<%- include("header") -%>
<h2>This is the about page</h2>
<p>asdasf as fasda sd afa sf afalk hsfal sfashk lfahsdjka sdgask dag fjahaljs dao wqr hqlkjhfsuagf xnzbcxcgaufa af akjshdfas dhjl</p>
<%- include("footer") -%>